<html>
    <head>
         <title>All Products</title>   
    </head>
    <body>
        
<h1>All products</h1>
<% console.log(products) %>
  <% for(var i=0; i<products.length; i++) { %>
      <h1> <%= products[i]._id %> </h1>
    <h1> <%= products[i].name %> </h1>
    <p><%=products[i].description%></p>
    <p>
      <%= products[i].user%>
    </p>
    <h3><%= products[i].price%></h3>
    <h3><%= products[i].quantity%></h3>
    <h3><%= products[i].created%></h3>
    <% } %>

        
    </body>
</html>